body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#game {
    display: inline-block;
    margin-top: 20px;
}

#board {
    width: 500px;
    height: 500px;
    border: 1px solid #000;
    margin-bottom: 20px;
}

#controls {
    margin-bottom: 20px;
}

#players {
    margin-top: 20px;
}